.home-button, .log-out-button {
	@extend %flex-box;
	align-items: center;
	justify-content: flex-end;
	height: 5em;
	padding-right: 1em;
	
}
.home-button-layout, .log-out-button {
	margin-right: 1em;
}
@media screen and (max-width: 1024px) {
	.home-button-layout, .log-out-button {
		margin-top: 1em;
		justify-content: center;
		display: flex;
	}

}