.rt-team, .rt-player {
	background-color: white;
}
.rt-team {
	
	input {
	white-space: nowrap;
	}
}
.rt-team-form {


}
form {
      margin-top: 1em;
      margin-right: 4em;
    }

    input {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
      background-color: $main-bk-color;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1;
      border-bottom-color: $btn-color;
    }