.addSeason-view{
  @extend %flex-form;

  .submit-btn{
      margin-right: auto;
      margin-left: auto;
      @extend %main-button;
      background-color: $highlight;
    }

    .submit-btn:hover{
      background-color: $dark-highlight;
      border-color: $dark-highlight;
    }

    input{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
      background-color: $main-bk-color;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1;
      border-bottom-color: $btn-color;
    }

    p{
      text-decoration: none;
      font-size: 1.75em;
      font-family: Roboto-bold;
      color: $btn-color;
      text-shadow: 1px 1px 1px #CCCCCC;
    }
}