<section>
  <form>
    <select>
      <option value="Game 1">Game 1</option>
      <option value="Game 2">Game 2</option>
      <option value="Game 3">Game 3</option>
      <option value="Game 4">Game 4</option>
    </select>
		<input type="text" name="team1name" value=""/>
    <input type="text" name="team1score" value=""/>
		<input type="text" name="team2name" value=""/>
    <input type="text" name="team2score" value=""/>
    <input type="submit" name="addscore" value="Add Score"/>
  </form> 
</section>