<section class="addScore-view" data-ng-init="filterScoreArray()">
  <form>
    <div>
      <p>Game to add Score to: </p>
      <select>
        <option value="Game 1">Game 1</option>
        <option value="Game 2">Game 2</option>
        <option value="Game 3">Game 3</option>
        <option value="Game 4">Game 4</option>
      </select>
    </div>
		<p>Home Team: </p>
    <input type="text" name="team1name" value="">
    <p>Home Team Score: </p>
    <input type="text" name="team1score" value="">
    <p>Visiting Team: </p>
		<input type="text" name="team2name" value="">
    <p>Visiting Team Score: </p>
    <input type="text" name="team2score" value="">
    <input type="submit" class="submit-btn" name="addscore" value="Add Score">
  </form>
</section>
