@import "utils/INDEX";
@import "base/INDEX";
@import "layout/INDEX";
@import "components/INDEX";
@import "partials/addGame_view";
@import "partials/addScore_view";
@import "partials/addSeason_view";
@import "partials/addTeam_view";
@import "partials/changeTable_view";
@import "partials/admin_view";
@import "partials/signup_view";
@import "partials/signin_view";
@import "partials/calendar_view";
@import "partials/contact_view";
@import "partials/home_view";
