<section data-ng-controller="AddSeasonController">
  <form name="createTeamForm" data-ng-submit="createTeam()" role="form">
    <select>
      <option value="team1">Team 1</option>
      <option value="team2">Team 2</option>
      <option value="team3">Team 3</option>
    </select>
    <button type="showteam">Show Team</button>
    <button type="closeteam">Close Team</button>
      <div>
      </div>
    <input type="submit" name="addteamtoseason" value="Add Team to Season">
  </form>
</section>
