<section data-ng-init="getSome()">
  <ul id="teamsNotInSeason">
      <li data-ng-repeat="teams in teamArray">
        <span data-ng-if="true">{{teams.name}}
           <button data-ng-click="addTeamToSeason()">Add Team To Season</button>
        </span>
      </li>
    </ul>

  <form name="createTeamForm" data-ng-submit="createTeam()" role="form">
    <select>
      <option value="team1">Team 1</option>
      <option value="team2">Team 2</option>
      <option value="team3">Team 3</option>
    </select>
    <button type="showteam">Show Team</button>
    <button type="closeteam">Close Team</button>
      <div>
      </div>
    <input type="submit" name="addTeamToSeason" value="Add Team to Season">
  </form>
</section>
