<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href='css/style.css'>
    <meta charset="UTF-8">
    <title>CBL App</title>
  </head>
  <body data-ng-app="cblApp" class="container">
    
    <nav class="navbar navbar-default" data-ng-controller="AuthController">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">CBL</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home <span class="sr-only">(current)</span></a></li>
            <li data-ng-if="isLoggedIn" ng-cloak><a href="#/team">Create Team</a></li>
            <li data-ng-if="isAdmin" ng-cloak><a href="#/admin">Admin</a></li> 
          </ul>

          <form class="navbar-form navbar-right ng-cloak" data-ng-if="!isLoggedIn" name="forms.loginForm">
            <div class="form-group" ng-class="{'has-error': (forms.loginForm.email.$invalid && forms.loginForm.email.$dirty)}" >
              <label class="sr-only" for="exampleInputEmail">Email address</label>
              <input 
                type="email" 
                class="form-control"
                name="email" 
                id="exampleInputEmail" 
                placeholder="Email" 
                ng-model="user.email"
                required>
            </div>
            <div class="form-group" ng-class="{'has-error': (registerView && !passwordMatch()) }">
              <label class="sr-only" for="exampleInputPassword">Password</label>
              <input 
                type="password"
                name="password"
                class="form-control" 
                id="exampleInputPassword" 
                placeholder="Password" 
                ng-model="user.password"
                required>
            </div>
            <div class="form-group" data-ng-show="registerView" ng-cloak ng-class="{'has-error': !passwordMatch()}">
              <label class="sr-only" for="confirmInputPassword">Password</label>
              <input 
                type="password"
                name="confirmPassword"
                class="form-control"
                id="confirmInputPassword"
                ng-model="user.confirmPassword"
                placeholder="Confirm Password">
            </div>
            <button type="button" class="btn btn-default btn-xs" data-ng-if="!registerView" ng-click="login()" data-ng-disabled="forms.loginForm.$invalid">LogIn</button>
            <button type="button" class="btn btn-default btn-xs" data-ng-if="registerView" ng-click="register()" data-ng-disabled="disableRegisterButton()">Register</button>
            <a href data-ng-if="!registerView" data-ng-click="changeRegisterView()">Register</a>
            <a href data-ng-if="registerView" data-ng-click="changeRegisterView()">LogIn</a>
          </form>
          
          <form class="navbar-form navbar-right ng-cloak" data-ng-if="isLoggedIn">
            <div class="form-group">
              <span>Hi, {{loggedUser}} </span>
              <button type="button" class="btn btn-default" data-ng-click="logOut()">LogOut</button>
            </div>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  
    

    <main data-ng-view>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body> 
  <script src="bundle.js"></script>
