<section class="addSeason-view" data-ng-init="getSome()">
    <form name="createSeasonForm" data-ng-submit="createSeason()" role="form">
		  <p>Season Number<input name="seasonNumber"
                          data-ng-model="season.seasonNumber"
                          type="number"
                          placeholder="10"
                          value=""
                          required></p>
		  <p>Season Name<input name="seasonName"
                        data-ng-model="season.name"
                        type="text"
                        placeholder="SeasonName"
                        value=""
                        required></p>
      <input type="submit" class="submit-btn" name="submitSeason" value="Submit">
    </form>
</section>

