//colors
$darkest-color: #1e1e1e;
$main-bk-color: #dee5e8;
$drk-head-color: #637283;
$lght-head-color: #697e8e;

//background colors
$main-bk-color: #dee5e8;

//font colors
$primary-font-color: #798ca7;
$light-font-color: #afbaca;

//button color & basketball icon color
$highlight: #9aca40;

$btn-color: #0d47a1;
$btn-hover-color: #2196f3;
$btn-hover-light: #42a5f5;

//font size default
$browser-context: 16; // Default

//fonts
@font-face {
    font-family: Roboto-regular;
    src: url(fonts/fonts-roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-thin;
    src: url(fonts/fonts-roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(fonts/fonts-roboto/Roboto-Bold.ttf);
}
