<section>
  <h1>Контакты</h1>
  <h2>Координатор ХБЛ</h2>
  <p>Марина Тьян</p>
  <a href="tel:380936522322">(+38) 093 652 23 22</a>
  <a href="mailto:chbl.org@gmail.com">chbl.org@gmail.com</a>

  <form>
    <input type="text" name="name" value="">
    <input type="email" name="emailaddress" value="">
    <input type="url" name="website" value="">
    <textarea rows="4" cols="50"></textarea>
    <input type="submit" name="submit" value="Send">
  </form>

  <p>Дивизион А:</p>
  <p>СК НУХТ, Киев, Пр-т Науки, 29-А</p>
  <img src=""></img>
  <p>Дивизион Б:</p>
  <p>ФСК «Экономист» КНЭУ, ул. Ежена Потье, 18. Район: Шевченковский. Метро Берестейская.</p>
  <img src=""></img>

</section>

Contact
 contact info from old website