<section class="contact-view">
  <h1>Contacts</h1>
  <h2>HBL Coordinator</h2>
  <p>Marina Tian</p>
  <a href="tel:380936522322">(+38) 093 652 23 22</a>
  <a href="mailto:chbl.org@gmail.com">chbl.org@gmail.com</a>

  <form>
    <p>Name: <input type="text" name="name" value=""></p>
    <p>Email: <input type="email" name="emailaddress" value=""></p>
    <p>Website: <input type="url" name="website" value=""><p>
    <p>Message: </p>
    <textarea rows="4" cols="25"></textarea>
    <input type="submit" class="submit-btn" name="submit" value="Send">
  </form>

  <p>Division A:</p>
  <p>SC NUHT, Kiev, Ave. Science, 29-А</p>
  <img src="././images/divisiona.jpg" alt="Map to Division A Location"></img>
  <p>Division B:</p>
  <p>FGC "Economist" of KNEU Street. Eugène Pottier, 18 District: Shevchenko. Subway Beresteiska.</p>
  <img src="././images/divisionb.jpg" alt="Map to Division B Location"></img>

</section>