<section>
  <form>
    <p><input type="radio" name="division" value="a">Division A</p>
		<p><input type="radio" name="division" value="b">Division B</p>
		<input type="text" name="team1" value=""/>
		<input type="text" name="team2" value=""/>
		<select>
      <option value="Team 1">Team 1</option>
      <option value="Team 2">Team 2</option>
      <option value="Team 3">Team 3</option>
      <option value="Team 4">Team 4</option>
    </select>
    <input type="date" name="gameday">
    <input type="time" name="gametime">
    <input type="address" name="gamelocation">
    <input type="submit" name="addgame" value="Add Game"/>
  </form> 
</section>