<section class="addGame-view" data-ng-init="">
  <form>
    <div class="radioSection">
     <input type="radio" name="division" value="a" class="radioA">
     <p> Division A </p>
		 <input type="radio" name="division" value="b" class="radioB">
     <p> Division B </p>
    </div>
		<div>
      <p>Home Team:</p>
      <select>
        <option value="Team 1">Team 1</option>
        <option value="Team 2">Team 2</option>
        <option value="Team 3">Team 3</option>
        <option value="Team 4">Team 4</option>
      </select>
    </div>
    <div>
      <p>Visiting Team:</p>
		  <select>
        <option value="Team 1">Team 1</option>
        <option value="Team 2">Team 2</option>
        <option value="Team 3">Team 3</option>
        <option value="Team 4">Team 4</option>
      </select>
    </div>
    <div>
      <p>Game Day: </p>
      <input type="date" name="gameday">
    </div>
    <div>
      <p>Game Time: </p>
      <input type="time" name="gametime">
    </div>
    <div>
      <p>Game Location: </p>
      <input type="address" name="gamelocation">
    </div>
    <input type="submit" class="submit-btn" name="addgame" value="Add Game">
  </form>
</section>
