<section class="standings-container">
  <section class="standings-section">
    <h1>Premiere League</h1>
    <h2>Standings</h2>
    <table class="standings-only-table">
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>SS</th>
        <th>BP</th>
        <th>W</th>
        <th>L</th>
        <th>BF</th>
        <th>BA</th>
        <th>BD</th>
        <th>PTS</th>
      </tr>
      <tr>
        <td>1</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/girl.svg">Ukrainian Ballers</td>
        <td>=</td>
        <td>11</td>
        <td>11</td>
        <td>0</td>
        <td>774</td>
        <td>516</td>
        <td>258</td>
        <td>22</td>
      </tr>
      <tr>
        <td>2</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/dunk.svg">Seattle Slam Dunkers</td>
        <td>+</td>
        <td>11</td>
        <td>9</td>
        <td>2</td>
        <td>671</td>
        <td>516</td>
        <td>155</td>
        <td>20</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/dribble.svg">Playmaker</td>
        <td>-</td>
        <td>11</td>
        <td>9</td>
        <td>2</td>
        <td>657</td>
        <td>584</td>
        <td>73</td>
        <td>20</td>
      </tr>
      <tr>
        <td>4</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/panther.svg">Awesome Panthers</td>
        <td>+</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>593</td>
        <td>578</td>
        <td>15</td>
        <td>16</td>
      </tr>
      <tr>
        <td>5</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/first.svg">Champions</td>
        <td>+</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>581</td>
        <td>592</td>
        <td>11</td>
        <td>16</td>
      </tr>
      <tr>
        <td>6</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/strategy.svg">Organized Chaos</td>
        <td>-</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>618</td>
        <td>654</td>
        <td>36</td>
        <td>16</td>
      </tr>
    </table>
  </section>
  <section class="standings-section">
    <h1>Ultimate League</h1>
    <h2>Standings</h2>
    <table class="standings-only-table">
        <tr>
        <th>#</th>
        <th>Team</th>
        <th>SS</th>
        <th>BP</th>
        <th>W</th>
        <th>L</th>
        <th>BF</th>
        <th>BA</th>
        <th>BD</th>
        <th>PTS</th>
      </tr>
       <tr>
        <td>1</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/flame.svg">Flame of Destiny</td>
        <td>-</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>618</td>
        <td>654</td>
        <td>36</td>
        <td>16</td>
      </tr>
      <tr>
        <td>2</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/mountain.svg">Mighty Mountains</td>
        <td>=</td>
        <td>11</td>
        <td>11</td>
        <td>0</td>
        <td>774</td>
        <td>516</td>
        <td>258</td>
        <td>22</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/knight.svg">The Knights</td>
        <td>+</td>
        <td>11</td>
        <td>9</td>
        <td>2</td>
        <td>671</td>
        <td>516</td>
        <td>155</td>
        <td>20</td>
      </tr>
      <tr>
        <td>4</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/star.svg">Wild Stars</td>
        <td>-</td>
        <td>11</td>
        <td>9</td>
        <td>2</td>
        <td>657</td>
        <td>584</td>
        <td>73</td>
        <td>20</td>
      </tr>
      <tr>
        <td>5</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/dart.svg">Bullseye Battlers</td>
        <td>+</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>593</td>
        <td>578</td>
        <td>15</td>
        <td>16</td>
      </tr>
      <tr>
        <td>6</td>
        <td><img class="sport-icons" src="styles/fonts/sports-icons/shirt.svg">The Originals</td>
        <td>+</td>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>581</td>
        <td>592</td>
        <td>11</td>
        <td>16</td>
      </tr>
    </table>
  </section>
</section>